body {
    background-color: rgb(105, 105, 105); 
    h1 {
        color: rgb(255, 255, 255);
    }
    h2 {
        color: yellow;
    }
    a {
        color: pink;
        text-decoration: none;
    }
    ul {
        list-style: none;
    }
}